body {
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
}

.app {
  display: flex;
  width: 38%;
  height: auto;
  margin: 120px auto;
  padding: 32px;

  flex-direction: column;
  border-radius: 16px;

  background: radial-gradient(
      100% 318.01% at 100% 100%,
      #ffffff99 0%,
      rgba(255, 255, 255, 0.6) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid rgba(255, 255, 255, 0.67);
  backdrop-filter: blur(5px);
}

.search {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.btn {
  width: 47%;
  margin: 16px 8px 16px 0px;
  background-color: rgb(2, 14, 85);
  color: #ffffff;
  border: 1px solid rgb(2, 14, 85);
}

.current_temp {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left_side {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 50%;
  left: -30px;
}

.cr_temp {
  width: 150px;
}

.temp {
  display: block;
  position: relative;
  margin: auto;
  font-size: 68px;
  left: -8px;
}

.link_temp {
  display: block;
  margin: 0px 0px 0px 12px;
  font-size: 16px;
}

.link {
  display: flex;
  position: relative;
  left: -13px;
  top: -13px;
}

.right_side {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  margin: 24px 48px;
  text-align: right;
  top: 18px;
  right: -20px;
}

.location {
  font-size: 20px;
  line-height: 22px;
  margin: 0px;
  padding-bottom: 4px;
}

.temp_img {
  width: 50px;
}

.other_days {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
}

.other {
  margin: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c {
  display: flex;
  flex-direction: row;
}

.temp1 {
  margin-right: 8px;
}

.temp2 {
  color: darkgray;
}

h1,
h2,
p {
  color: rgb(2, 14, 85);
}

.wind {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.wind:first-letter {
  text-transform: capitalize;
}

.day_time {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0;
}

.frm-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
}
